on: [push]

jobs:
  composite_hello_world_job:
    runs-on: ubuntu-latest
    name: A job to say hello by composite action
    steps:
      - uses: actions/checkout@v2
      - id: foo
        uses: takada-s/hello-world-composite-action@v1
        with:
          who-to-greet: 'john doe'
      - run: echo random-number ${{ steps.foo.outputs.random-number }}
        shell: bash
  docker_hello_world_job:
    runs-on: ubuntu-latest
    name: A job to say hello by docker action
    steps:
      - name: diag-before
        id: diag_before
        run: |
          pwd
          ls -laF * || true
      - name: Hello world action step
        id: hello
        uses: takada-s/hello-world-docker-action@v1.2.0
        with:
          who-to-greet: "john doe"
          output-dir: ${{ github.workspace }}/outdir1
      - name: Get the output time
        run: echo "The time was ${{ steps.hello.outputs.time }}"
      - name: diag-after
        id: diag_after
        run: |
          pwd
          ls -laF * || true
      - name: show_outputs
        id: show_outputs
        run: cat ${{ github.workspace }}/outdir1/*
      - name: upload artifacts
        id: upload_artifacts
        uses: actions/upload-artifact@v3
        with:
          name: test-artifacts
          path: ${{ github.workspace }}/outdir1

