on: [push]

jobs:
  composite_hello_world_job:
    runs-on: ubuntu-latest
    name: A job to say hello by composite action
    steps:
      - uses: actions/checkout@v2
      - id: foo
        uses: takada-s/hello-world-composite-action@v1
        with:
          who-to-greet: 'john doe'
      - run: echo random-number ${{ steps.foo.outputs.random-number }}
        shell: bash
  docker_hello_world_job:
    runs-on: ubuntu-latest
    name: A job to say hello by docker action
    steps:
      - name: Hello world action step
        id: hello
        uses: takada-s/hello-world-docker-action@v1
        with:
          who-to-greet: "john doe"
      - name: Get the output time
        run: echo "The time was ${{ steps.hello.outputs.time }}

